RewriteEngine On
RewriteBase /

RewriteRule ^about/$ /about.html
RewriteRule ^tests/$ /tests.html
RewriteRule ^tests/up/$ /tests/up.html
RewriteRule ^tests/up-full/$ /tests/up-full.html
RewriteRule ^tests/txtr-01/$ /tests/txtr-01.html
RewriteRule ^tests/txtr-02/$ /tests/txtr-02.html
RewriteRule ^tests/bounce/$ /tests/bounce.html
RewriteRule ^tests/change/$ /tests/change.html
RewriteRule ^tests/rotate/$ /tests/rotate.html
RewriteRule ^tests/graph/$ /tests/graph.html
RewriteRule ^tests/chain/$ /tests/chain.html
RewriteRule ^tests/chain-full/$ /tests/chain-full.html
RewriteRule ^tests/chain-down/$ /tests/chain-down.html
RewriteRule ^tests/particles/$ /tests/particles.html
RewriteRule ^tests/particles-ex/$ /tests/particles-ex.html

RewriteRule ^about$ /about/ [R=301,L]
RewriteRule ^tests$ /tests/ [R=301,L]
RewriteRule ^tests/up$ /tests/up/ [R=301,L]
RewriteRule ^tests/up-full$ /tests/up-full/ [R=301,L]
RewriteRule ^tests/txtr-01$ /tests/txtr-01/ [R=301,L]
RewriteRule ^tests/txtr-02$ /tests/txtr-02/ [R=301,L]
RewriteRule ^tests/bounce$ /tests/bounce/ [R=301,L]
RewriteRule ^tests/change$ /tests/change/ [R=301,L]
RewriteRule ^tests/rotate$ /tests/rotate/ [R=301,L]
RewriteRule ^tests/graph$ /tests/graph/ [R=301,L]
RewriteRule ^tests/chain$ /tests/chain/ [R=301,L]
RewriteRule ^tests/chain-full$ /tests/chain-full/ [R=301,L]
RewriteRule ^tests/chain-down$ /tests/chain-down/ [R=301,L]
RewriteRule ^tests/particles$ /tests/particles/ [R=301,L]
RewriteRule ^tests/particles-ex$ /tests/particles-ex/ [R=301,L]

<IfModule mod_deflate.c>

	<IfModule mod_setenvif.c>
		<IfModule mod_headers.c>
			SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
			RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
		</IfModule>
	</IfModule>

	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE 	application/atom+xml \
										application/javascript \
										application/json \
										application/ld+json \
										application/rss+xml \
										application/vnd.ms-fontobject \
										application/x-font-ttf \
										application/x-web-app-manifest+json \
										application/xhtml+xml \
										application/xml \
										font/opentype \
										image/svg+xml \
										image/x-icon \
										text/css \
										text/html \
										text/plain \
										text/x-component \
										text/xml
	</IfModule>
	
</IfModule>