@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}:focus{outline:0}*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

/* HTML */
html {}
body {background:#F6F6F6; overflow:hidden;}

/* uhu */
h1 {width:60px; height:60px; float:left; color:#FFF; text-shadow:1px 1px 1px rgba(0,0,0,.03)}
h1 span, h2 span {font-size:50px; display:block; text-align:center; line-height:60px; position:relative; left:-5px; -webkit-animation:yo 2s ease infinite;}
h2 { width:240px; height:240px; position:absolute; top:50%; left:50%; margin:-120px 0 0 -120px; color:#E47;}
h2 span {font-size:280px; line-height:210px; left:0; -webkit-animation-duration:3s;}
.sdw span {left:5px; top:5px; color:rgba(0,0,0,.16); -webkit-animation-delay:.08s; display:block; text-shadow:0 0 6px rgba(0,0,0,.08);}
.t1 span {-webkit-animation-delay:0s;}
.t2 span {-webkit-animation-delay:.30s;}
.t3 span {-webkit-animation-delay:.45s;}
.t4 span {-webkit-animation-delay:1s;}

@-webkit-keyframes yo {
	0%, 100% {-webkit-transform:rotate(0deg);}
	50% {-webkit-transform:rotate(270deg);}
}