/* Pattern */
.test .pat {z-index:-1;}

/* Texture 01 */
body.texture1 {background:#e5fcc2;}
.texture1 p {width:5%; height:60px; float:left; color:rgba(157,224,173,.5); font-size:50px; text-align:center; line-height:60px; position:relative; left:-5px; -webkit-animation:texture1 1.5s linear infinite; animation:texture1 1.5s linear infinite;}
.texture1 h1, .texture1 h2 {width:240px; height:240px; position:absolute; top:50%; left:50%; margin:-120px 0 0 -120px; color:#C44D58; font-size:280px; line-height:230px; text-align:center; -webkit-animation:texture1 2.5s infinite; animation:texture1 2.5s infinite; opacity:1;}
.texture1 h2 {margin:-115px 0 0 -115px; color:rgba(0,0,0,.2); -webkit-animation-delay:.04s; animation-delay:.04s;}
.texture1 h2:after {display:none;}

.texture1 .a {-webkit-animation-delay:0s;animation-delay:0s;}
.texture1 .b {-webkit-animation-delay:.25s;animation-delay:.25s;}
.texture1 .c {-webkit-animation-delay:.5s;animation-delay:.5s;}
.texture1 .d {-webkit-animation-delay:.75s;animation-delay:.75s;}
.texture1 .e {-webkit-animation-delay:1s;animation-delay:1s;}
.texture1 .f {-webkit-animation-delay:1.25s;animation-delay:1.25s;}
.texture1 .g {-webkit-animation-delay:1.5s;animation-delay:1.5s;}
.texture1 .h {-webkit-animation-delay:1.75s;animation-delay:1.75s;}

@-webkit-keyframes texture1 {
	0% {-webkit-transform:rotate(0);transform:rotate(0);}
	100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@keyframes texture1 {
	0% {-webkit-transform:rotate(0);transform:rotate(0);}
	100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}


/* Texture 02 */
body.texture2 {background-color:#002b36; font-family:Helvetica; overflow:visible;}
.spin {-webkit-animation:texture1 60s linear infinite; animation:texture1 60s linear infinite;}
.pttr1 {-webkit-animation:texture2 2s ease-out infinite;animation:texture2 2s ease-out infinite;}
.pttr2 {-webkit-animation:texture2 4s ease-in infinite;animation:texture2 4s ease-in infinite;}
.pttr2 p {-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.texture2 p {float:left; font-size:86px; color:#eee8d5;}
.texture2 .pttr1, .texture2 .pttr2 {width:2500px; height:2500px; position:absolute; top:50%; left:50%; margin:-1250px 0 0 -1250px; overflow:hidden;}

@-webkit-keyframes texture2 {
	0%, 100% {-webkit-transform:translate(0,0);transform:translate(0,0);}
	50% {-webkit-transform:translate(-200px,0);transform:translate(-200px,0);}
}

@keyframes texture2 {
	0%, 100% {-webkit-transform:translate(0,0);transform:translate(0,0);}
	50% {-webkit-transform:translate(-200px,0);transform:translate(-200px,0);}
}


/* Up */
body.up {background:#fdf6e3;}
.up .c {width:180px; height:100%; position:absolute; top:0; left:50%; margin:0 0 0 -90px; padding:15% 0;}
.up .bar {width:34px; height:100%; position:relative; float:left; margin:0 1px;}
.up p {width:100%; height:100%; position:absolute; bottom:0; left:0; -webkit-animation:up cubic-bezier(0,.5,.3,1) .5s backwards; animation:up cubic-bezier(0,.5,.3,1) .5s backwards; display:block;}
.up .bar p:last-child {background:#fdf6e3; z-index:1;}
.up .up1 p:first-child {background:#dc322f; -webkit-animation-delay:.4s; animation-delay:.4s;}
.up .up2 p:first-child {background:#d33682; -webkit-animation-delay:.5s; animation-delay:.5s;}
.up .up3 p:first-child {background:#6c71c4; -webkit-animation-delay:.6s; animation-delay:.6s;}
.up .up4 p:first-child {background:#268bd2; -webkit-animation-delay:.7s; animation-delay:.7s;}
.up .up5 p:first-child {background:#2aa198; -webkit-animation-delay:.8s; animation-delay:.8s;}
.up .up1 p:last-child {-webkit-animation-delay:.8s;animation-delay:.8s;}
.up .up2 p:last-child {-webkit-animation-delay:.9s;animation-delay:.9s;}
.up .up3 p:last-child {-webkit-animation-delay:1s;animation-delay:1s;}
.up .up4 p:last-child {-webkit-animation-delay:1.1s;animation-delay:1.1s;}
.up .up5 p:last-child {-webkit-animation-delay:1.2s;animation-delay:1.2s}

.up.full .c {width:100%; height:100%; top:0; left:0; margin:0; padding:0;}
.up.full .bar {width:20%; height:100%; margin:0;}
.up.full .up1 p:last-child {-webkit-animation-delay:1.2s;animation-delay:1.2s}
.up.full .up2 p:last-child {-webkit-animation-delay:1.3s;animation-delay:1.3s;}
.up.full .up3 p:last-child {-webkit-animation-delay:1.4s;animation-delay:1.4s;}
.up.full .up4 p:last-child {-webkit-animation-delay:1.5s;animation-delay:1.5s;}
.up.full .up5 p:last-child {-webkit-animation-delay:1.6s;animation-delay:1.6s;}

@-webkit-keyframes up {
	0% {height:0;}
	100% {height:100%;}
}

@keyframes up {
	0% {height:0;}
	100% {height:100%;}
}


/* Bounce */
.bounce p {background:#268bd2; width:80px; height:80px; position:absolute; top:49%; left:50%; margin:-40px 0 0 -40px; border-radius:100px; display:block; -webkit-animation:bounce 1s; animation:bounce 1s; -webkit-transform:scale(0.85); -ms-transform:scale(0.85); transform:scale(0.85);}

@-webkit-keyframes bounce {
	0%{-webkit-transform:scale(1.1);transform:scale(1.1); opacity:1}
	50%{-webkit-transform:scale(1.6);transform:scale(1.6); opacity:.7;}
	60%{-webkit-transform:scale(0.6);transform:scale(0.6); opacity:1}
	80%{-webkit-transform:scale(0.95);transform:scale(0.95)} 
	100%{-webkit-transform:scale(0.85);transform:scale(0.85)}
}

@keyframes bounce {
	0%{-webkit-transform:scale(1.1);transform:scale(1.1); opacity:1}
	50%{-webkit-transform:scale(1.6);transform:scale(1.6); opacity:.7;}
	60%{-webkit-transform:scale(0.6);transform:scale(0.6); opacity:1}
	80%{-webkit-transform:scale(0.95);transform:scale(0.95)} 
	100%{-webkit-transform:scale(0.85);transform:scale(0.85)}
}


/* Change */
.change h1, .change h2 {width:80px; height:80px; display:block; position:absolute; top:50%; left:50%; margin:-40px 0 0 -40px; border-radius:100px; text-align:center;}
.change h1 {font-size:70px; line-height:80px; -webkit-transform:scale(0) rotate(0); -ms-transform:scale(0) rotate(0); transform:scale(0) rotate(0); -webkit-animation:changeOut 1s .2s cubic-bezier(1,-.36,0,1.3) forwards; animation:changeOut 1s .2s cubic-bezier(1,-.36,0,1.3) forwards; z-index:1; padding-left:12px; opacity:1;}
.change h2 {font-size:80px; line-height:80px; -webkit-transform:scale(1) rotate(0); -ms-transform:scale(1) rotate(0); transform:scale(1) rotate(0); -webkit-animation:changeIn 1s .2s cubic-bezier(1,-.36,0,1.3) forwards; animation:changeIn 1s .2s cubic-bezier(1,-.36,0,1.3) forwards; z-index:2; opacity:0;}
.change h2:after {display:none;}

@-webkit-keyframes changeOut
{0%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0); z-index:2;} 100%{-webkit-transform:scale(0) rotate(360deg);transform:scale(0) rotate(360deg); z-index:1; opacity:0;}}

@keyframes changeOut
{0%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0); z-index:2;} 100%{-webkit-transform:scale(0) rotate(360deg);transform:scale(0) rotate(360deg); z-index:1; opacity:0;}}
@-webkit-keyframes changeIn
{0%{-webkit-transform:scale(0) rotate(0);transform:scale(0) rotate(0); z-index:1;} 100%{-webkit-transform:scale(1) rotate(360deg);transform:scale(1) rotate(360deg); z-index:2; opacity:1;}}
@keyframes changeIn
{0%{-webkit-transform:scale(0) rotate(0);transform:scale(0) rotate(0); z-index:1;} 100%{-webkit-transform:scale(1) rotate(360deg);transform:scale(1) rotate(360deg); z-index:2; opacity:1;}}


/* Rotate */
.rotate p {background:#268bd2; width:40px; height:40px; border-radius:4px; position:absolute; top:50%; left:50%; margin:-20px 0 0 -20px; -webkit-animation:rotate 2.6s cubic-bezier(.68,-.55,.265,1.55) forwards infinite; animation:rotate 2.6s cubic-bezier(.68,-.55,.265,1.55) forwards infinite;}

@-webkit-keyframes rotate
{0%{-webkit-transform:rotate(0);transform:rotate(0);} 25%{-webkit-transform:rotate(90deg);transform:rotate(90deg);} 50%{-webkit-transform:rotate(180deg);transform:rotate(180deg);} 75%{-webkit-transform:rotate(270deg);transform:rotate(270deg);} 100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}

@keyframes rotate
{0%{-webkit-transform:rotate(0);transform:rotate(0);} 25%{-webkit-transform:rotate(90deg);transform:rotate(90deg);} 50%{-webkit-transform:rotate(180deg);transform:rotate(180deg);} 75%{-webkit-transform:rotate(270deg);transform:rotate(270deg);} 100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}


/* Graph */
.graph div {width:200px; height:200px; position:absolute; top:50%; left:50%; margin:-100px 0 0 -100px; display:block;}
.graph p {width:200px; height:100px; overflow:hidden;}
.graph p em {content:''; border-width:100px; border-style:solid; width:0; height:0; display:block; border-radius:100px; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); -webkit-animation:graph 1.2s; animation:graph 1.2s}
.graph div:nth-child(n+1) p:first-child em {border-bottom-color:transparent; border-right-color:transparent; -webkit-animation-duration:.6s; animation-duration:.6s; -webkit-animation-timing-function:cubic-bezier(.2,0,.95,0); animation-timing-function:cubic-bezier(.2,0,.95,0);}
.graph div:nth-child(n+1) p:last-child em {border-top-color:transparent; border-left-color:transparent; -webkit-animation-timing-function:cubic-bezier(0,.95,.8,1); animation-timing-function:cubic-bezier(0,.95,.8,1); -webkit-animation-fill-mode:backwards !important; animation-fill-mode:backwards !important; position:relative; top:-101px;}

.graph div:nth-child(1) p em {border-color:#2aa198;}
.graph div:nth-child(1) p:first-child em {}
.graph div:nth-child(1) p:last-child em {-webkit-animation-delay:.6s;animation-delay:.6s;}
.graph div:nth-child(2) p em {border-color:#d33682;}
.graph div:nth-child(2) p:first-child em {-webkit-animation-delay:.12s;animation-delay:.12s;}
.graph div:nth-child(2) p:last-child em {-webkit-animation-delay:.72s;animation-delay:.72s;}
.graph div:nth-child(3) p em {border-color:#268bd2;}
.graph div:nth-child(3) p:first-child em {-webkit-animation-delay:.22s;animation-delay:.22s;}
.graph div:nth-child(3) p:last-child em {-webkit-animation-delay:.82s;animation-delay:.82s;}

@-webkit-keyframes graph
{0%{-webkit-transform:rotate(-135deg);transform:rotate(-135deg);} 100%{-webkit-transform:rotate(45deg);transform:rotate(45deg);}}

@keyframes graph
{0%{-webkit-transform:rotate(-135deg);transform:rotate(-135deg);} 100%{-webkit-transform:rotate(45deg);transform:rotate(45deg);}}


/* Chain Reaction */
.test.chain {background:#fdf6e3;}
.chain div:first-child {width:300px; height:30px; position:absolute; top:50%; left:50%; margin:-15px 0 0 -150px;}
.chain b {width:2%; height:100%; display:block; float:left; -webkit-animation:chain 3s infinite; animation:chain 3s infinite; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; margin-left:-1px;}

.chain b:nth-child(1) {background:#b58900; -webkit-animation-delay:0.2s !important; animation-delay:0.2s !important;}
.chain b:nth-child(2) {background:#cb4b16; -webkit-animation-delay:0.4s !important; animation-delay:0.4s !important;}
.chain b:nth-child(3) {background:#dc322f; -webkit-animation-delay:0.6s !important; animation-delay:0.6s !important;}
.chain b:nth-child(4) {background:#d33682; -webkit-animation-delay:0.8s !important; animation-delay:0.8s !important;}
.chain b:nth-child(5) {background:#6c71c4; -webkit-animation-delay:1.0s !important; animation-delay:1.0s !important;}
.chain b:nth-child(6) {background:#268bd2; -webkit-animation-delay:1.2s !important; animation-delay:1.2s !important;}
.chain b:nth-child(7) {background:#2aa198; -webkit-animation-delay:1.4s !important; animation-delay:1.4s !important;}
.chain b:nth-child(8) {background:#859900; -webkit-animation-delay:1.6s !important; animation-delay:1.6s !important;}
.chain b:nth-child(9) {background:#b58900; -webkit-animation-delay:1.8s !important; animation-delay:1.8s !important;}
.chain b:nth-child(10) {background:#cb4b16; -webkit-animation-delay:2.0s !important; animation-delay:2.0s !important;}
.chain b:nth-child(11) {background:#dc322f; -webkit-animation-delay:2.2s !important; animation-delay:2.2s !important;}
.chain b:nth-child(12) {background:#d33682; -webkit-animation-delay:2.4s !important; animation-delay:2.4s !important;}
.chain b:nth-child(13) {background:#6c71c4; -webkit-animation-delay:2.6s !important; animation-delay:2.6s !important;}
.chain b:nth-child(14) {background:#268bd2; -webkit-animation-delay:2.8s !important; animation-delay:2.8s !important;}

.chain.full div:first-child {background:#d33682; width:100%; margin:-9px 0 0 -50%;}
.chain.full b {-webkit-animation:chain-full 3s infinite;animation:chain-full 3s infinite;}
.chain.full b:nth-child(1) {width:2%;}
.chain.full b:nth-child(2) {width:5%;}
.chain.full b:nth-child(3) {width:9%;}
.chain.full b:nth-child(4) {width:14%;}
.chain.full b:nth-child(5) {width:1%;}
.chain.full b:nth-child(6) {width:19%;}
.chain.full b:nth-child(7) {width:13%;}
.chain.full b:nth-child(8) {width:8%;}
.chain.full b:nth-child(9) {width:1%;}
.chain.full b:nth-child(10) {width:4%;}
.chain.full b:nth-child(11) {width:9%;}

.chain-down div:first-child {width:100%; height:100%; top:0; left:0; margin:0;}
.chain-down b {width:10%; height:40%; margin:0; -webkit-animation:chain-down 3s ease-in-out infinite; animation:chain-down 3s ease-in-out infinite;}

@-webkit-keyframes chain
{0%,100%{padding:0;} 50%{padding:0 5%;}}

@keyframes chain
{0%,100%{padding:0;} 50%{padding:0 5%;}}

@-webkit-keyframes chain-full
{0%,100%{padding:0;} 50%{padding:0 1%;}}

@keyframes chain-full
{0%,100%{padding:0;} 50%{padding:0 1%;}}

@-webkit-keyframes chain-down
{0%,100%{padding:0;} 50%{padding:3% 0;}}

@keyframes chain-down
{0%,100%{padding:0;} 50%{padding:3% 0;}}


/* Particles */
.part {padding-left:30%;}
.part div {height:40%; display:inline-block; position:relative; margin:15% 1.5% 0;}
.part div:nth-child(1) b {background:#b58900;}
.part div:nth-child(2) b {background:#cb4b16;}
.part div:nth-child(3) b {background:#dc322f;}
.part div:nth-child(4) b {background:#d33682;}
.part div:nth-child(5) b {background:#6c71c4;}
.part div:nth-child(6) b {background:#268bd2;}
.part div:nth-child(7) b {background:#2aa198;}
.part div:nth-child(8) b {background:#859900;}

.part p {position:absolute;}
.part p:nth-child(1) {height:50%; top:50%;}
.part p:nth-child(2) {height:49%; top:49%; left:10px;}
.part p:nth-child(3) {height:48%; top:48%; left:20px;}
.part p:nth-child(4) {height:47%; top:47%; left:30px;}
.part p:nth-child(5) {height:46%; top:46%; left:40px;}
.part p:nth-child(6) {height:45%; top:45%; left:50px;}
.part p:nth-child(7) {height:44%; top:44%; left:60px;}
.part p:nth-child(8) {height:43%; top:43%; left:70px;}
.part p:nth-child(9) {height:42%; top:42%; left:80px;}
.part p:nth-child(10) {height:41%; top:41%; left:90px;}
.part p:nth-child(11) {height:40%; top:40%; left:100px;}
.part p:nth-child(12) {height:39%; top:39%; left:110px;}
.part p:nth-child(13) {height:38%; top:38%; left:120px;}
.part p:nth-child(14) {height:37%; top:37%; left:130px;}
.part p:nth-child(15) {height:36%; top:36%; left:140px;}
.part p:nth-child(16) {height:35%; top:35%; left:150px;}
.part p:nth-child(17) {height:34%; top:34%; left:160px;}
.part p:nth-child(18) {height:33%; top:33%; left:170px;}
.part p:nth-child(19) {height:32%; top:32%; left:180px;}
.part p:nth-child(20) {height:31%; top:31%; left:190px;}
.part p:nth-child(21) {height:30%; top:30%; left:200px;}
.part p:nth-child(22) {height:29%; top:29%; left:210px;}
.part p:nth-child(23) {height:28%; top:28%; left:220px;}
.part p:nth-child(24) {height:27%; top:27%; left:230px;}
.part p:nth-child(25) {height:26%; top:26%; left:240px;}
.part p:nth-child(26) {height:25%; top:25%; left:250px;}
.part p:nth-child(27) {height:24%; top:24%; left:260px;}
.part p:nth-child(28) {height:23%; top:23%; left:270px;}
.part p:nth-child(29) {height:22%; top:22%; left:280px;}
.part p:nth-child(30) {height:21%; top:21%; left:290px;}

.part b {width:20px; height:20px; border-radius:20px; position:absolute; -webkit-animation:part 6s ease-in-out infinite; animation:part 6s ease-in-out infinite;}
.part p:nth-child(2) b {-webkit-animation-delay:0.2s;animation-delay:0.2s; -webkit-transform:scale(.97); -ms-transform:scale(.97); transform:scale(.97);}
.part p:nth-child(3) b {-webkit-animation-delay:0.4s;animation-delay:0.4s; -webkit-transform:scale(.94); -ms-transform:scale(.94); transform:scale(.94);}
.part p:nth-child(4) b {-webkit-animation-delay:0.6s;animation-delay:0.6s; -webkit-transform:scale(.91); -ms-transform:scale(.91); transform:scale(.91);}
.part p:nth-child(5) b {-webkit-animation-delay:0.8s;animation-delay:0.8s; -webkit-transform:scale(.88); -ms-transform:scale(.88); transform:scale(.88);}
.part p:nth-child(6) b {-webkit-animation-delay:1.0s;animation-delay:1.0s; -webkit-transform:scale(.85); -ms-transform:scale(.85); transform:scale(.85);}
.part p:nth-child(7) b {-webkit-animation-delay:1.2s;animation-delay:1.2s; -webkit-transform:scale(.82); -ms-transform:scale(.82); transform:scale(.82);}
.part p:nth-child(8) b {-webkit-animation-delay:1.4s;animation-delay:1.4s; -webkit-transform:scale(.79); -ms-transform:scale(.79); transform:scale(.79);}
.part p:nth-child(9) b {-webkit-animation-delay:1.6s;animation-delay:1.6s; -webkit-transform:scale(.76); -ms-transform:scale(.76); transform:scale(.76);}
.part p:nth-child(10) b {-webkit-animation-delay:1.8s;animation-delay:1.8s; -webkit-transform:scale(.73); -ms-transform:scale(.73); transform:scale(.73);}
.part p:nth-child(11) b {-webkit-animation-delay:2.0s;animation-delay:2.0s; -webkit-transform:scale(.70); -ms-transform:scale(.70); transform:scale(.70);}
.part p:nth-child(12) b {-webkit-animation-delay:2.2s;animation-delay:2.2s; -webkit-transform:scale(.67); -ms-transform:scale(.67); transform:scale(.67);}
.part p:nth-child(13) b {-webkit-animation-delay:2.4s;animation-delay:2.4s; -webkit-transform:scale(.64); -ms-transform:scale(.64); transform:scale(.64);}
.part p:nth-child(14) b {-webkit-animation-delay:2.6s;animation-delay:2.6s; -webkit-transform:scale(.61); -ms-transform:scale(.61); transform:scale(.61);}
.part p:nth-child(15) b {-webkit-animation-delay:2.8s;animation-delay:2.8s; -webkit-transform:scale(.58); -ms-transform:scale(.58); transform:scale(.58);}
.part p:nth-child(16) b {-webkit-animation-delay:3.0s;animation-delay:3.0s; -webkit-transform:scale(.55); -ms-transform:scale(.55); transform:scale(.55);}
.part p:nth-child(17) b {-webkit-animation-delay:3.2s;animation-delay:3.2s; -webkit-transform:scale(.52); -ms-transform:scale(.52); transform:scale(.52);}
.part p:nth-child(18) b {-webkit-animation-delay:3.4s;animation-delay:3.4s; -webkit-transform:scale(.49); -ms-transform:scale(.49); transform:scale(.49);}
.part p:nth-child(19) b {-webkit-animation-delay:3.6s;animation-delay:3.6s; -webkit-transform:scale(.46); -ms-transform:scale(.46); transform:scale(.46);}
.part p:nth-child(20) b {-webkit-animation-delay:3.8s;animation-delay:3.8s; -webkit-transform:scale(.43); -ms-transform:scale(.43); transform:scale(.43);}
.part p:nth-child(21) b {-webkit-animation-delay:4.0s;animation-delay:4.0s; -webkit-transform:scale(.40); -ms-transform:scale(.40); transform:scale(.40);}
.part p:nth-child(22) b {-webkit-animation-delay:4.2s;animation-delay:4.2s; -webkit-transform:scale(.37); -ms-transform:scale(.37); transform:scale(.37);}
.part p:nth-child(23) b {-webkit-animation-delay:4.4s;animation-delay:4.4s; -webkit-transform:scale(.34); -ms-transform:scale(.34); transform:scale(.34);}
.part p:nth-child(24) b {-webkit-animation-delay:4.6s;animation-delay:4.6s; -webkit-transform:scale(.31); -ms-transform:scale(.31); transform:scale(.31);}
.part p:nth-child(25) b {-webkit-animation-delay:4.8s;animation-delay:4.8s; -webkit-transform:scale(.28); -ms-transform:scale(.28); transform:scale(.28);}
.part p:nth-child(26) b {-webkit-animation-delay:5.0s;animation-delay:5.0s; -webkit-transform:scale(.25); -ms-transform:scale(.25); transform:scale(.25);}
.part p:nth-child(27) b {-webkit-animation-delay:5.2s;animation-delay:5.2s; -webkit-transform:scale(.22); -ms-transform:scale(.22); transform:scale(.22);}
.part p:nth-child(28) b {-webkit-animation-delay:5.4s;animation-delay:5.4s; -webkit-transform:scale(.19); -ms-transform:scale(.19); transform:scale(.19);}
.part p:nth-child(29) b {-webkit-animation-delay:5.6s;animation-delay:5.6s; -webkit-transform:scale(.16); -ms-transform:scale(.16); transform:scale(.16);}
.part p:nth-child(30) b {-webkit-animation-delay:5.8s;animation-delay:5.8s; -webkit-transform:scale(.13); -ms-transform:scale(.13); transform:scale(.13);}

@-webkit-keyframes part
{0%,100%{top:0;} 50%{top:100%; width:2px; height:2px;}}

@keyframes part
{0%,100%{top:0;} 50%{top:100%; width:2px; height:2px;}}

/* Particles Extented */
.ex div:nth-child(1) b {background:#7A102F;}
.ex div:nth-child(2) b {background:#89112F;}
.ex div:nth-child(3) b {background:#9B132F;}
.ex div:nth-child(4) b {background:#A9162F;}
.ex div:nth-child(5) b {background:#B8192F;}
.ex div:nth-child(6) b {background:#C7232F;}
.ex div:nth-child(7) b {background:#D12B2F;}
.ex div:nth-child(8) b {background:#dc322f;}

.ex b {-webkit-animation:ex 8s ease-in-out infinite;animation:ex 8s ease-in-out infinite;}
.ex p:nth-child(2) b {-webkit-transform:scale(.97);-ms-transform:scale(.97);transform:scale(.97);}
.ex p:nth-child(3) b {-webkit-transform:scale(.94);-ms-transform:scale(.94);transform:scale(.94);}
.ex p:nth-child(4) b {-webkit-transform:scale(.91);-ms-transform:scale(.91);transform:scale(.91);}
.ex p:nth-child(5) b {-webkit-transform:scale(.88);-ms-transform:scale(.88);transform:scale(.88);}
.ex p:nth-child(6) b {-webkit-transform:scale(.85);-ms-transform:scale(.85);transform:scale(.85);}
.ex p:nth-child(7) b {-webkit-transform:scale(.82);-ms-transform:scale(.82);transform:scale(.82);}
.ex p:nth-child(8) b {-webkit-transform:scale(.79);-ms-transform:scale(.79);transform:scale(.79);}
.ex p:nth-child(9) b {-webkit-transform:scale(.76);-ms-transform:scale(.76);transform:scale(.76);}
.ex p:nth-child(10) b {-webkit-transform:scale(.73);-ms-transform:scale(.73);transform:scale(.73);}
.ex p:nth-child(11) b {-webkit-transform:scale(.70);-ms-transform:scale(.70);transform:scale(.70);}
.ex p:nth-child(12) b {-webkit-transform:scale(.67);-ms-transform:scale(.67);transform:scale(.67);}
.ex p:nth-child(13) b {-webkit-transform:scale(.64);-ms-transform:scale(.64);transform:scale(.64);}
.ex p:nth-child(14) b {-webkit-transform:scale(.61);-ms-transform:scale(.61);transform:scale(.61);}
.ex p:nth-child(15) b {-webkit-transform:scale(.58);-ms-transform:scale(.58);transform:scale(.58);}
.ex p:nth-child(16) b {-webkit-transform:scale(.55);-ms-transform:scale(.55);transform:scale(.55);}
.ex p:nth-child(17) b {-webkit-transform:scale(.52);-ms-transform:scale(.52);transform:scale(.52);}
.ex p:nth-child(18) b {-webkit-transform:scale(.49);-ms-transform:scale(.49);transform:scale(.49);}
.ex p:nth-child(19) b {-webkit-transform:scale(.46);-ms-transform:scale(.46);transform:scale(.46);}
.ex p:nth-child(20) b {-webkit-transform:scale(.43);-ms-transform:scale(.43);transform:scale(.43);}
.ex p:nth-child(21) b {-webkit-transform:scale(.40);-ms-transform:scale(.40);transform:scale(.40);}
.ex p:nth-child(22) b {-webkit-transform:scale(.37);-ms-transform:scale(.37);transform:scale(.37);}
.ex p:nth-child(23) b {-webkit-transform:scale(.34);-ms-transform:scale(.34);transform:scale(.34);}
.ex p:nth-child(24) b {-webkit-transform:scale(.31);-ms-transform:scale(.31);transform:scale(.31);}
.ex p:nth-child(25) b {-webkit-transform:scale(.28);-ms-transform:scale(.28);transform:scale(.28);}
.ex p:nth-child(26) b {-webkit-transform:scale(.25);-ms-transform:scale(.25);transform:scale(.25);}
.ex p:nth-child(27) b {-webkit-transform:scale(.22);-ms-transform:scale(.22);transform:scale(.22);}
.ex p:nth-child(28) b {-webkit-transform:scale(.19);-ms-transform:scale(.19);transform:scale(.19);}
.ex p:nth-child(29) b {-webkit-transform:scale(.16);-ms-transform:scale(.16);transform:scale(.16);}
.ex p:nth-child(30) b {-webkit-transform:scale(.13);-ms-transform:scale(.13);transform:scale(.13);}

.ex div:nth-child(1) p:nth-child(2) b,
.ex div:nth-child(2) p:nth-child(1) b
{-webkit-animation-delay:0.2s;animation-delay:0.2s;}

.ex div:nth-child(1) p:nth-child(3) b,
.ex div:nth-child(2) p:nth-child(2) b,
.ex div:nth-child(3) p:nth-child(1) b
{-webkit-animation-delay:0.4s;animation-delay:0.4s;}

.ex div:nth-child(1) p:nth-child(4) b,
.ex div:nth-child(2) p:nth-child(3) b,
.ex div:nth-child(3) p:nth-child(2) b,
.ex div:nth-child(4) p:nth-child(1) b
{-webkit-animation-delay:0.6s;animation-delay:0.6s;}

.ex div:nth-child(1) p:nth-child(5) b,
.ex div:nth-child(2) p:nth-child(4) b,
.ex div:nth-child(3) p:nth-child(3) b,
.ex div:nth-child(4) p:nth-child(2) b,
.ex div:nth-child(5) p:nth-child(1) b
{-webkit-animation-delay:0.8s;animation-delay:0.8s;}

.ex div:nth-child(1) p:nth-child(6) b,
.ex div:nth-child(2) p:nth-child(5) b,
.ex div:nth-child(3) p:nth-child(4) b,
.ex div:nth-child(4) p:nth-child(3) b,
.ex div:nth-child(5) p:nth-child(2) b,
.ex div:nth-child(6) p:nth-child(1) b
{-webkit-animation-delay:1.0s;animation-delay:1.0s;}

.ex div:nth-child(1) p:nth-child(7) b,
.ex div:nth-child(2) p:nth-child(6) b,
.ex div:nth-child(3) p:nth-child(5) b,
.ex div:nth-child(4) p:nth-child(4) b,
.ex div:nth-child(5) p:nth-child(3) b,
.ex div:nth-child(6) p:nth-child(2) b,
.ex div:nth-child(7) p:nth-child(1) b
{-webkit-animation-delay:1.2s;animation-delay:1.2s;}

.ex div:nth-child(1) p:nth-child(8) b,
.ex div:nth-child(2) p:nth-child(7) b,
.ex div:nth-child(3) p:nth-child(6) b,
.ex div:nth-child(4) p:nth-child(5) b,
.ex div:nth-child(5) p:nth-child(4) b,
.ex div:nth-child(6) p:nth-child(3) b,
.ex div:nth-child(7) p:nth-child(2) b,
.ex div:nth-child(8) p:nth-child(1) b
{-webkit-animation-delay:1.4s;animation-delay:1.4s;}

.ex div:nth-child(1) p:nth-child(9) b,
.ex div:nth-child(2) p:nth-child(8) b,
.ex div:nth-child(3) p:nth-child(7) b,
.ex div:nth-child(4) p:nth-child(6) b,
.ex div:nth-child(5) p:nth-child(5) b,
.ex div:nth-child(6) p:nth-child(4) b,
.ex div:nth-child(7) p:nth-child(3) b,
.ex div:nth-child(8) p:nth-child(2) b
{-webkit-animation-delay:1.6s;animation-delay:1.6s;}

.ex div:nth-child(1) p:nth-child(10) b,
.ex div:nth-child(2) p:nth-child(9) b,
.ex div:nth-child(3) p:nth-child(8) b,
.ex div:nth-child(4) p:nth-child(7) b,
.ex div:nth-child(5) p:nth-child(6) b,
.ex div:nth-child(6) p:nth-child(5) b,
.ex div:nth-child(7) p:nth-child(4) b,
.ex div:nth-child(8) p:nth-child(3) b
{-webkit-animation-delay:1.8s;animation-delay:1.8s;}

.ex div:nth-child(1) p:nth-child(11) b,
.ex div:nth-child(2) p:nth-child(10) b,
.ex div:nth-child(3) p:nth-child(9) b,
.ex div:nth-child(4) p:nth-child(8) b,
.ex div:nth-child(5) p:nth-child(7) b,
.ex div:nth-child(6) p:nth-child(6) b,
.ex div:nth-child(7) p:nth-child(5) b,
.ex div:nth-child(8) p:nth-child(4) b
{-webkit-animation-delay:2.0s;animation-delay:2.0s;}

.ex div:nth-child(1) p:nth-child(12) b,
.ex div:nth-child(2) p:nth-child(11) b,
.ex div:nth-child(3) p:nth-child(10) b,
.ex div:nth-child(4) p:nth-child(9) b,
.ex div:nth-child(5) p:nth-child(8) b,
.ex div:nth-child(6) p:nth-child(7) b,
.ex div:nth-child(7) p:nth-child(6) b,
.ex div:nth-child(8) p:nth-child(5) b
{-webkit-animation-delay:2.2s;animation-delay:2.2s;}

.ex div:nth-child(1) p:nth-child(13) b,
.ex div:nth-child(2) p:nth-child(12) b,
.ex div:nth-child(3) p:nth-child(11) b,
.ex div:nth-child(4) p:nth-child(10) b,
.ex div:nth-child(5) p:nth-child(9) b,
.ex div:nth-child(6) p:nth-child(8) b,
.ex div:nth-child(7) p:nth-child(7) b,
.ex div:nth-child(8) p:nth-child(6) b
{-webkit-animation-delay:2.4s;animation-delay:2.4s;}

.ex div:nth-child(1) p:nth-child(14) b,
.ex div:nth-child(2) p:nth-child(13) b,
.ex div:nth-child(3) p:nth-child(12) b,
.ex div:nth-child(4) p:nth-child(11) b,
.ex div:nth-child(5) p:nth-child(10) b,
.ex div:nth-child(6) p:nth-child(9) b,
.ex div:nth-child(7) p:nth-child(8) b,
.ex div:nth-child(8) p:nth-child(7) b
{-webkit-animation-delay:2.6s;animation-delay:2.6s;}

.ex div:nth-child(1) p:nth-child(15) b,
.ex div:nth-child(2) p:nth-child(14) b,
.ex div:nth-child(3) p:nth-child(13) b,
.ex div:nth-child(4) p:nth-child(12) b,
.ex div:nth-child(5) p:nth-child(11) b,
.ex div:nth-child(6) p:nth-child(10) b,
.ex div:nth-child(7) p:nth-child(9) b,
.ex div:nth-child(8) p:nth-child(8) b
{-webkit-animation-delay:2.8s;animation-delay:2.8s;}

.ex div:nth-child(1) p:nth-child(16) b,
.ex div:nth-child(2) p:nth-child(15) b,
.ex div:nth-child(3) p:nth-child(14) b,
.ex div:nth-child(4) p:nth-child(13) b,
.ex div:nth-child(5) p:nth-child(12) b,
.ex div:nth-child(6) p:nth-child(11) b,
.ex div:nth-child(7) p:nth-child(10) b,
.ex div:nth-child(8) p:nth-child(9) b
{-webkit-animation-delay:3.0s;animation-delay:3.0s;}

.ex div:nth-child(1) p:nth-child(17) b,
.ex div:nth-child(2) p:nth-child(16) b,
.ex div:nth-child(3) p:nth-child(15) b,
.ex div:nth-child(4) p:nth-child(14) b,
.ex div:nth-child(5) p:nth-child(13) b,
.ex div:nth-child(6) p:nth-child(12) b,
.ex div:nth-child(7) p:nth-child(11) b,
.ex div:nth-child(8) p:nth-child(10) b
{-webkit-animation-delay:3.2s;animation-delay:3.2s;}

.ex div:nth-child(1) p:nth-child(18) b,
.ex div:nth-child(2) p:nth-child(17) b,
.ex div:nth-child(3) p:nth-child(16) b,
.ex div:nth-child(4) p:nth-child(15) b,
.ex div:nth-child(5) p:nth-child(14) b,
.ex div:nth-child(6) p:nth-child(13) b,
.ex div:nth-child(7) p:nth-child(12) b,
.ex div:nth-child(8) p:nth-child(11) b
{-webkit-animation-delay:3.4s;animation-delay:3.4s;}

.ex div:nth-child(1) p:nth-child(19) b,
.ex div:nth-child(2) p:nth-child(18) b,
.ex div:nth-child(3) p:nth-child(17) b,
.ex div:nth-child(4) p:nth-child(16) b,
.ex div:nth-child(5) p:nth-child(15) b,
.ex div:nth-child(6) p:nth-child(14) b,
.ex div:nth-child(7) p:nth-child(13) b,
.ex div:nth-child(8) p:nth-child(12) b
{-webkit-animation-delay:3.6s;animation-delay:3.6s;}

.ex div:nth-child(1) p:nth-child(20) b,
.ex div:nth-child(2) p:nth-child(19) b,
.ex div:nth-child(3) p:nth-child(18) b,
.ex div:nth-child(4) p:nth-child(17) b,
.ex div:nth-child(5) p:nth-child(16) b,
.ex div:nth-child(6) p:nth-child(15) b,
.ex div:nth-child(7) p:nth-child(14) b,
.ex div:nth-child(8) p:nth-child(13) b
{-webkit-animation-delay:3.8s;animation-delay:3.8s;}

.ex div:nth-child(1) p:nth-child(21) b,
.ex div:nth-child(2) p:nth-child(20) b,
.ex div:nth-child(3) p:nth-child(19) b,
.ex div:nth-child(4) p:nth-child(18) b,
.ex div:nth-child(5) p:nth-child(17) b,
.ex div:nth-child(6) p:nth-child(16) b,
.ex div:nth-child(7) p:nth-child(15) b,
.ex div:nth-child(8) p:nth-child(14) b
{-webkit-animation-delay:4.0s;animation-delay:4.0s;}

.ex div:nth-child(1) p:nth-child(22) b,
.ex div:nth-child(2) p:nth-child(21) b,
.ex div:nth-child(3) p:nth-child(20) b,
.ex div:nth-child(4) p:nth-child(19) b,
.ex div:nth-child(5) p:nth-child(18) b,
.ex div:nth-child(6) p:nth-child(17) b,
.ex div:nth-child(7) p:nth-child(16) b,
.ex div:nth-child(8) p:nth-child(15) b
{-webkit-animation-delay:4.2s;animation-delay:4.2s;}

.ex div:nth-child(1) p:nth-child(23) b,
.ex div:nth-child(2) p:nth-child(22) b,
.ex div:nth-child(3) p:nth-child(21) b,
.ex div:nth-child(4) p:nth-child(20) b,
.ex div:nth-child(5) p:nth-child(19) b,
.ex div:nth-child(6) p:nth-child(18) b,
.ex div:nth-child(7) p:nth-child(17) b,
.ex div:nth-child(8) p:nth-child(16) b
{-webkit-animation-delay:4.4s;animation-delay:4.4s;}

.ex div:nth-child(1) p:nth-child(24) b,
.ex div:nth-child(2) p:nth-child(23) b,
.ex div:nth-child(3) p:nth-child(22) b,
.ex div:nth-child(4) p:nth-child(21) b,
.ex div:nth-child(5) p:nth-child(20) b,
.ex div:nth-child(6) p:nth-child(19) b,
.ex div:nth-child(7) p:nth-child(18) b,
.ex div:nth-child(8) p:nth-child(17) b
{-webkit-animation-delay:4.6s;animation-delay:4.6s;}

.ex div:nth-child(1) p:nth-child(25) b,
.ex div:nth-child(2) p:nth-child(24) b,
.ex div:nth-child(3) p:nth-child(23) b,
.ex div:nth-child(4) p:nth-child(22) b,
.ex div:nth-child(5) p:nth-child(21) b,
.ex div:nth-child(6) p:nth-child(20) b,
.ex div:nth-child(7) p:nth-child(19) b,
.ex div:nth-child(8) p:nth-child(18) b
{-webkit-animation-delay:4.8s;animation-delay:4.8s;}

.ex div:nth-child(1) p:nth-child(26) b,
.ex div:nth-child(2) p:nth-child(25) b,
.ex div:nth-child(3) p:nth-child(24) b,
.ex div:nth-child(4) p:nth-child(23) b,
.ex div:nth-child(5) p:nth-child(22) b,
.ex div:nth-child(6) p:nth-child(21) b,
.ex div:nth-child(7) p:nth-child(20) b,
.ex div:nth-child(8) p:nth-child(19) b
{-webkit-animation-delay:5.0s;animation-delay:5.0s;}

.ex div:nth-child(1) p:nth-child(27) b,
.ex div:nth-child(2) p:nth-child(26) b,
.ex div:nth-child(3) p:nth-child(25) b,
.ex div:nth-child(4) p:nth-child(24) b,
.ex div:nth-child(5) p:nth-child(23) b,
.ex div:nth-child(6) p:nth-child(22) b,
.ex div:nth-child(7) p:nth-child(21) b,
.ex div:nth-child(8) p:nth-child(20) b
{-webkit-animation-delay:5.2s;animation-delay:5.2s;}

.ex div:nth-child(1) p:nth-child(28) b,
.ex div:nth-child(2) p:nth-child(27) b,
.ex div:nth-child(3) p:nth-child(26) b,
.ex div:nth-child(4) p:nth-child(25) b,
.ex div:nth-child(5) p:nth-child(24) b,
.ex div:nth-child(6) p:nth-child(23) b,
.ex div:nth-child(7) p:nth-child(22) b,
.ex div:nth-child(8) p:nth-child(21) b
{-webkit-animation-delay:5.4s;animation-delay:5.4s;}

.ex div:nth-child(1) p:nth-child(29) b,
.ex div:nth-child(2) p:nth-child(28) b,
.ex div:nth-child(3) p:nth-child(27) b,
.ex div:nth-child(4) p:nth-child(26) b,
.ex div:nth-child(5) p:nth-child(25) b,
.ex div:nth-child(6) p:nth-child(24) b,
.ex div:nth-child(7) p:nth-child(23) b,
.ex div:nth-child(8) p:nth-child(22) b
{-webkit-animation-delay:5.6s;animation-delay:5.6s;}

.ex div:nth-child(1) p:nth-child(30) b,
.ex div:nth-child(2) p:nth-child(29) b,
.ex div:nth-child(3) p:nth-child(28) b,
.ex div:nth-child(4) p:nth-child(27) b,
.ex div:nth-child(5) p:nth-child(26) b,
.ex div:nth-child(6) p:nth-child(25) b,
.ex div:nth-child(7) p:nth-child(24) b,
.ex div:nth-child(8) p:nth-child(23) b
{-webkit-animation-delay:5.8s;animation-delay:5.8s;}

.ex div:nth-child(2) p:nth-child(30) b,
.ex div:nth-child(3) p:nth-child(29) b,
.ex div:nth-child(4) p:nth-child(28) b,
.ex div:nth-child(5) p:nth-child(27) b,
.ex div:nth-child(6) p:nth-child(26) b,
.ex div:nth-child(7) p:nth-child(25) b,
.ex div:nth-child(8) p:nth-child(24) b
{-webkit-animation-delay:6.0s;animation-delay:6.0s;}

.ex div:nth-child(3) p:nth-child(30) b,
.ex div:nth-child(4) p:nth-child(29) b,
.ex div:nth-child(5) p:nth-child(28) b,
.ex div:nth-child(6) p:nth-child(27) b,
.ex div:nth-child(7) p:nth-child(26) b,
.ex div:nth-child(8) p:nth-child(25) b
{-webkit-animation-delay:6.2s;animation-delay:6.2s;}

.ex div:nth-child(4) p:nth-child(30) b,
.ex div:nth-child(5) p:nth-child(29) b,
.ex div:nth-child(6) p:nth-child(28) b,
.ex div:nth-child(7) p:nth-child(27) b,
.ex div:nth-child(8) p:nth-child(26) b
{-webkit-animation-delay:6.4s;animation-delay:6.4s;}

.ex div:nth-child(5) p:nth-child(30) b,
.ex div:nth-child(6) p:nth-child(29) b,
.ex div:nth-child(7) p:nth-child(28) b,
.ex div:nth-child(8) p:nth-child(27) b
{-webkit-animation-delay:6.6s;animation-delay:6.6s;}

.ex div:nth-child(6) p:nth-child(30) b,
.ex div:nth-child(7) p:nth-child(29) b,
.ex div:nth-child(8) p:nth-child(28) b
{-webkit-animation-delay:6.8s;animation-delay:6.8s;}

.ex div:nth-child(7) p:nth-child(30) b,
.ex div:nth-child(8) p:nth-child(29) b
{-webkit-animation-delay:7.0s;animation-delay:7.0s;}

.ex div:nth-child(8) p:nth-child(30) b
{-webkit-animation-delay:7.2s;animation-delay:7.2s;}

@-webkit-keyframes ex {
0%,100%{top:0;}
20%{top:55%; width:9px; height:9px;}
35%{top:40%; width:12px; height:12px;}
50%{top:80%; width:2px; height:2px;}}

@keyframes ex {
0%,100%{top:0;}
20%{top:55%; width:9px; height:9px;}
35%{top:40%; width:12px; height:12px;}
50%{top:80%; width:2px; height:2px;}}