@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-backface-visibility:hidden;-webkit-animation-fill-mode:both;}

/* @font-face */
@font-face {font-family:'about'; src:url('about.eot'); src:url('about.eot?#iefix') format('embedded-opentype'), url('about.svg#about') format('svg'), url('about.woff') format('woff'), url('about.ttf') format('truetype'); font-weight:normal; font-style:normal;}

/* HTML */
html {height:100%; overflow:hidden;}
body {height:100%; overflow:hidden; font-family:'Apple Symbols','Arial Unicode MS'; background:#fdf6e3; background-image:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,250,242,1)),color-stop(100%,rgba(250,245,220,1))); background-image:-webkit-radial-gradient(center, circle cover, rgba(254,250,242,1) 0%,rgba(250,245,220,1) 100%); background-image:radial-gradient(circle at center, rgba(254,250,242,1) 0%,rgba(250,245,220,1) 100%); z-index:0;}
body>div {width:100%; height:100%; background:-webkit-radial-gradient(rgba(0,0,0,.1) 1px, transparent 1px); background-size:8px 8px; z-index:1; position:relative; display:block;}
a, .back {-webkit-transition:all .2s; text-decoration:none;}
a:hover, a:focus {opacity:1; text-decoration:none;}
header *, footer, aside, article * {z-index:3 !important;}

/* The Good Man */
h1 {position:absolute; top:50%; left:50%; margin:-150px 0 0 -392px;; font:700 72px 'Montserrat', sans-serif; color:#073642; text-align:center; text-transform:uppercase; letter-spacing:20px; -webkit-animation:sup 1.8s .4s backwards;}
.hide {opacity:0; -webkit-animation:hide .8s;}
.sup {-webkit-animation:sup 1.8s backwards;}

@-webkit-keyframes sup
{0%{opacity:0; -webkit-transform:translateY(60px);} 30%{opacity:0;} 100%{opacity:1; -webkit-transform:translateY(0);}}

@-webkit-keyframes hide
{0%{opacity:1; -webkit-transform:translateY(0);} 100%{opacity:0; -webkit-transform:translateY(-20px);}}

/* Load/Play */
header {display:block;}
article {display:none;}
.play {cursor:pointer; background:#eee8d5; color:#fdf6e3; width:70px; height:70px; border-radius:70px; position:absolute; top:50%; left:50%; margin:0 0 0 -35px; -webkit-transition:background .5s;  -webkit-animation:bounce 1s; -webkit-transform:scale(0.85);}
.play:hover {background:#268bd2;}
.play:hover span {border-left-color:#fdf6e3; border-right-color:#fdf6e3;}
.play p, .play span {width:70px; height:70px; display:block;}
.play p {position:absolute; top:0; left:0; display:none;}
.play p:before {width:0; height:0; content:''; position:absolute; top:50%; left:50%; margin:-15px 0 0 -8px; border-left:25px solid #fdf6e3; border-top:15px solid transparent; border-bottom:15px solid transparent;}
.play span {width:38px; height:38px; position:absolute; top:50%; left:50%; margin:-19px 0 0 -19px; border:4px solid #268bd2; border-radius:100px; border-top:4px solid transparent; border-bottom:4px solid transparent; -webkit-animation:load 12s linear infinite;}

@-webkit-keyframes load
{0%{-webkit-transform:rotate(0) origin;} 100%{-webkit-transform:rotate(360deg);}}

@-webkit-keyframes bounce {
	0%{-webkit-transform:scale(1); opacity:1}
	50%{-webkit-transform:scale(1.2); opacity:.7;}
	60%{-webkit-transform:scale(0.6); opacity:1}
	80%{-webkit-transform:scale(0.95)} 
	100%{-webkit-transform:scale(0.85)}
}

/* Alert */
.alert {width:700px; position:absolute; top:50%; left:50%; margin:-130px 0 0 -350px; display:none}
.alert p {background:#002b36; color:#fdf8e8; font:italic 400 24px/20px 'Lato'; float:left; clear:both; padding:8px;}
.alert p:hover {opacity:.75}
.alert p:nth-child(3), .alert p:nth-child(5) {margin-top:16px;}
.alert p:nth-child(6) {background:#268bd2 !important; cursor:pointer;}
.alert .go {width:115px; -webkit-transition:width .3s;}
.alert .go:hover {width:139px;}
.alert .go em {float:right;}

/* Fullscreen */
.fs {background:#2aa198 !important; color:#839496; position:relative;}
.fs:before, .fs:after {width:36px; height:36px; position:absolute; top:0; right:-41px; display:block;}
.fs:before {content:''; background:#2aa198;}
.fs:after {content:'\2922'; font-size:28px; font-style:normal; top:8px; right:-49px;}
.fs:hover, .fs:focus {background:#dc322f; color:#fdf6e3; cursor:pointer;}

/* Footer */
footer {background:#073642; width:148px; height:30px; display:block; font:400 14px/30px 'Montserrat', sans-serif; text-transform:uppercase; color:#eee8d5; padding:0 5px; text-align:center; position:absolute; bottom:10px; right:10px;}
footer a {color:#eee8d5;}
footer a:hover, footer a:focus {color:#268bd2;}

/* Audio */
audio {position:absolute !important; display:none !important;}

/* About/Credits */
aside {width:700px; position:absolute; top:50%; left:50%; margin:-300px 0 0 -350px; font:italic 400 24px 'Lato', serif; display:none;}
aside h4 {background:#eee8d5; color:#fdf6e3; font:normal 700 48px 'Montserrat', sans-serif; display:inline-block; padding:5px 20px;}
aside p, aside h4 {margin-bottom:35px;}
aside .back {background:#073642; color:#fdf6e3; float:left; padding:4px 5px; cursor:pointer;}
aside .back:hover {background:#268bd2;}

.about b, .about em {font-weight:700;}
.about p:nth-child(2) b {color:#6c71c4;}
.about p:nth-child(3) b {color:#268bd2;}
.about p:nth-child(4) b {color:#2aa198;}
.about p:nth-child(5) b {color:#859900;}

.about ul {position:absolute; top:470px; left:332px;}
.about li {display:inline-block; font-size:22px;}
.about li em {position:absolute; top:-99999px;}
.about li a {display:inline-block; color:#002b36; margin:0 8px;}
.about [data-icon]:before {font-family:'about'; content:attr(data-icon); speak:none;}
.about li:nth-child(1) a:hover {color:#dc322f;}
.about li:nth-child(2) a:hover {color:#859900;}
.about li:nth-child(3) a:hover {color:#2aa198;}
.about li:nth-child(4) a:hover {color:#d33682;}
.about li:nth-child(5) a:hover {color:#268bd2;}