@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*{box-sizing:border-box;backface-visibility:hidden;animation-fill-mode:both;}

/* @font-face */
@font-face {font-family:'The Good Man'; src:url('fonts/thegoodman.eot'); src:url('fonts/thegoodman.eot?#iefix') format('embedded-opentype'), url('fonts/thegoodman.svg#The Good Man') format('svg'), url('fonts/thegoodman.woff') format('woff'), url('fonts/thegoodman.ttf') format('truetype'); font-weight:normal; font-style:normal;}
article, .fs:after, span[data-icon]:before {font:normal 22px 'The Good Man'; content:attr(data-icon); speak:none; text-transform:lowercase;}

/* HTML */
html, body {height:100%; overflow:hidden; text-rendering:optimizeLegibility; -webkit-font-smoothing:antialiased !important; text-shadow:1px 1px 1px rgba(0,0,0,0.004);}
body {background:#fdf6e3; background-image:gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,250,242,1)),color-stop(100%,rgba(250,245,220,1))); background-image:radial-gradient(center, circle cover, rgba(254,250,242,1) 0%,rgba(250,245,220,1) 100%); background-image:radial-gradient(circle at center, rgba(254,250,242,1) 0%,rgba(250,245,220,1) 100%); z-index:0;}
a, .back {transition:all .2s; text-decoration:none;}
a:hover, a:focus {opacity:1; text-decoration:none;}

/* Misc */
.pat {width:100% !important; height:100% !important; z-index:2; background:radial-gradient(rgba(0,0,0,.1) 1px, transparent 1px); background-size:8px 8px; position:fixed !important; top:0 !important; left:0 !important; display:block !important; margin:0 !important;}
header *, aside, article *, section {z-index:4;}
header {height:100%; z-index:4;}

/* The Good Man */
h1 {position:absolute; top:50%; left:50%; margin:-150px 0 0 -392px; font:700 73px 'Montserrat', sans-serif; color:#073642; text-align:center; text-transform:uppercase; letter-spacing:20px; opacity:0; -webkit-animation:sup 1.8s .4s forwards;}
.tchau {opacity:0; -webkit-animation:tchau .8s;}
.sup {-webkit-animation:sup 1.8s backwards;}

@-webkit-keyframes sup
{0%{opacity:0; -webkit-transform:translateY(50px);} 30%{opacity:0;} 100%{opacity:1; -webkit-transform:translateY(0);}}

@-webkit-keyframes tchau
{0%{opacity:1; -webkit-transform:translateY(0);} 100%{opacity:0; -webkit-transform:translateY(-20px);}}

/* Load/Play */
.play {cursor:pointer; background:#eee8d5; color:#fdf6e3; width:70px; height:70px; border-radius:70px; position:absolute; top:49%; left:50%; margin:0 0 0 -35px; transition:background .5s;  -webkit-animation:bounce 1s; -webkit-transform:scale(0.85);}
.play:hover {background:#268bd2;}
.play:hover span {border-left-color:#fdf6e3; border-right-color:#fdf6e3;}
.play p, .play span {width:70px; height:70px; display:block;}
.play p {position:absolute; top:0; left:0; display:none;}
.play p:before {width:0; height:0; content:''; position:absolute; top:50%; left:50%; margin:-15px 0 0 -8px; border-left:25px solid #fdf6e3; border-top:15px solid transparent; border-bottom:15px solid transparent;}
.play span {width:38px; height:38px; position:absolute; top:50%; left:50%; margin:-19px 0 0 -19px; border:4px solid #268bd2; border-radius:100px; border-top:4px solid transparent; border-bottom:4px solid transparent; -webkit-animation:load 12s linear infinite;}

@-webkit-keyframes load
{0%{-webkit-transform:rotate(0) origin;} 100%{-webkit-transform:rotate(360deg);}}

@-webkit-keyframes bounce
{0%{-webkit-transform:scale(1); opacity:1} 50%{-webkit-transform:scale(1.2); opacity:.7;} 60%{-webkit-transform:scale(0.6); opacity:1} 80%{-webkit-transform:scale(0.95)} 100%{-webkit-transform:scale(0.85)}}

/* Alert */
aside {max-width:740px; height:100%; margin:auto; padding:40px 20px 40px; display:none; position:relative;}
aside div {display:table-cell; vertical-align:middle;}
aside p {background:#002b36; color:#fdf8e8; font:italic 400 24px/34px 'Lato'; float:left; clear:both; padding:0 8px;}
aside .b {margin-bottom:16px;}

.go {background:#268bd2; width:98px; cursor:pointer; transition:all .2s;}
.go em {float:right;}
.go:hover, .go:focus, .go:active {width:135px;}

.fs, .st {width:135px; position:relative;}
.st {background:#d33682;}
.st em:hover {background:#d33682 !important; cursor:pointer;}
.st em, .fs em {background:rgba(0,43,54,.6); color:rgba(238,232,213,.35); width:36px; height:34px; font:18px/34px 'The Good Man', sans-serif !important; position:absolute; top:0; right:-40px; text-align:center; transition:all .2s;}
.st em.on, .st em:hover {background:#d33682 !important; cursor:pointer; color:#eee8d5;}
.st em span:nth-child(2) {color:rgba(238,232,213,.35);}
.fs {background:#6c71c4;}
.fs em {font-size:26px !important;}
.fs em.on, .fs em:hover {background:#6c71c4 !important; cursor:pointer; color:#eee8d5;}

.st em span {width:36px; position:absolute; left:0;}
.st em span:nth-child(2), .st em.on span:nth-child(1), .st em span:nth-child(1), .st em.on span:nth-child(2) {-webkit-transition:all .2s;}
.st em span:nth-child(2), .st em.on span:nth-child(1), .st em:hover span:nth-child(1) {-webkit-transform:scale(1) rotate(0);}
.st em span:nth-child(1), .st em.on span:nth-child(2), .st em:hover span:nth-child(2) {-webkit-transform:scale(0) rotate(270deg);}


/* Menu */
nav {font:400 14px 'Montserrat', sans-serif; text-transform:uppercase; position:fixed; bottom:10px; left:10px; z-index:5;}
nav li {display:inline-block; float:left;}
nav em {position:absolute; top:-99999px;}
nav a, .int .home a, .test .home a {background:#073642; height:30px; display:block; color:#eee8d5; padding:0 8px; margin-left:2px; line-height:30px;}
nav .home a {width:30px;}
nav .home span:before {font-size:18px; position:relative; top:3px; left:-2px;}
nav a:hover, nav a:focus, .home a, .int.a .about a, .int.t .tests a {background:#268bd2;}
.int.a .about a, .int.t .tests a, .home a {cursor:default;}
.int .home a, .test .home a {cursor:pointer;}

/* About */
.int {overflow:auto;}
.int body {height:auto;}
.int section {max-width:700px; margin:auto; padding:40px 20px 60px; opacity:0; font:italic 400 22px 'Lato', serif; position:relative; -webkit-animation:sup 1.2s forwards;}
.int h4 {background:#073642; color:#fdf6e3; font:normal 700 48px 'Montserrat', sans-serif; display:inline-block; padding:5px 20px;}
.int p, .int h4 {margin-bottom:25px; position:relative;}
.int p:last-child {margin-bottom:0;}
.int section a {color:#586e75; border-bottom:2px dashed #586e75;}
.int section a:hover, .int section a:focus {color:#dc322f; border-bottom:2px dashed #dc322f;}

section b, section em {font-weight:700;}
section p:nth-child(2) b {color:#6c71c4;}
section p:nth-child(3) b {color:#268bd2;}
section p:nth-child(4) b {color:#2aa198;}
section p:nth-child(5) b {color:#859900;}

.social {position:absolute; top:532px; left:320px;}
.social li {display:inline-block;}
.social li em {position:absolute; top:-99999px;}
.social li a {display:inline-block; color:#002b36; margin:0 3px; padding:0 3px; border:0 !important;}
.social li:nth-child(1) a:hover {color:#dc322f;}
.social li:nth-child(2) a:hover {color:#859900;}
.social li:nth-child(3) a:hover {color:#2aa198;}
.social li:nth-child(4) a:hover {color:#d33682;}
.social li:nth-child(5) a:hover {color:#268bd2;}


/* Subtitle */
.sub footer {background:rgba(0,43,54,.97); color:#fdf8e8; width:100%; height:50px; text-align:center; display:none; opacity:0; font:700 20px/50px 'Montserrat', sans-serif; z-index:99 !important; position:absolute; bottom:0; text-transform:uppercase; -webkit-animation:subtitle 120.7s 3.5s;}
.sub footer p {-webkit-animation:sub; opacity:0; width:100%; position:absolute;}
.sub footer p:nth-child(1) {-webkit-animation-duration:3.0s; -webkit-animation-delay:3.5s;}
.sub footer p:nth-child(2) {-webkit-animation-duration:2.2s; -webkit-animation-delay:6.8s;}
.sub footer p:nth-child(3) {-webkit-animation-duration:2.6s; -webkit-animation-delay:9.0s;}
.sub footer p:nth-child(4) {-webkit-animation-duration:1.2s; -webkit-animation-delay:11.5s;}
.sub footer p:nth-child(5) {-webkit-animation-duration:1.5s; -webkit-animation-delay:12.6s;}
.sub footer p:nth-child(6) {-webkit-animation-duration:1.6s; -webkit-animation-delay:15.0s;}
.sub footer p:nth-child(7) {-webkit-animation-duration:2.2s; -webkit-animation-delay:16.6s;}

.sub footer p:nth-child(8) {-webkit-animation-duration:2.4s; -webkit-animation-delay:21.0s;}
.sub footer p:nth-child(9) {-webkit-animation-duration:1.0s; -webkit-animation-delay:24.6s;}
.sub footer p:nth-child(10) {-webkit-animation-duration:1.4s; -webkit-animation-delay:26.0s;}
.sub footer p:nth-child(11) {-webkit-animation-duration:2.5s; -webkit-animation-delay:28.0s;}
.sub footer p:nth-child(12) {-webkit-animation-duration:3.2s; -webkit-animation-delay:31.0s;}
.sub footer p:nth-child(13) {-webkit-animation-duration:2.2s; -webkit-animation-delay:34.4s;}
.sub footer p:nth-child(14) {-webkit-animation-duration:2.2s; -webkit-animation-delay:36.4s;}
.sub footer p:nth-child(15) {-webkit-animation-duration:2.0s; -webkit-animation-delay:38.2s;}
.sub footer p:nth-child(16) {-webkit-animation-duration:1.6s; -webkit-animation-delay:40.3s;}

.sub footer p:nth-child(17) {-webkit-animation-duration:2.8s; -webkit-animation-delay:43.4s;}
.sub footer p:nth-child(18) {-webkit-animation-duration:2.4s; -webkit-animation-delay:46.5s;}
.sub footer p:nth-child(19) {-webkit-animation-duration:1.6s; -webkit-animation-delay:49.4s;}
.sub footer p:nth-child(20) {-webkit-animation-duration:2.6s; -webkit-animation-delay:51.2s;}
.sub footer p:nth-child(21) {-webkit-animation-duration:1.8s; -webkit-animation-delay:54.2s;}
.sub footer p:nth-child(22) {-webkit-animation-duration:3.6s; -webkit-animation-delay:56.6s;}

.sub footer p:nth-child(23) {-webkit-animation-duration:1.6s; -webkit-animation-delay:62.0s;}
.sub footer p:nth-child(24) {-webkit-animation-duration:2.4s; -webkit-animation-delay:63.8s;}
.sub footer p:nth-child(25) {-webkit-animation-duration:3.2s; -webkit-animation-delay:66.8s;}
.sub footer p:nth-child(26) {-webkit-animation-duration:2.2s; -webkit-animation-delay:70.0s;}
.sub footer p:nth-child(27) {-webkit-animation-duration:1.8s; -webkit-animation-delay:72.2s;}

.sub footer p:nth-child(28) {-webkit-animation-duration:1.6s; -webkit-animation-delay:75.4s;}
.sub footer p:nth-child(29) {-webkit-animation-duration:1.2s; -webkit-animation-delay:77.2s;}
.sub footer p:nth-child(30) {-webkit-animation-duration:1.2s; -webkit-animation-delay:79.2s;}
.sub footer p:nth-child(31) {-webkit-animation-duration:2.2s; -webkit-animation-delay:80.2s;}
.sub footer p:nth-child(32) {-webkit-animation-duration:2.2s; -webkit-animation-delay:82.2s;}
.sub footer p:nth-child(33) {-webkit-animation-duration:2.4s; -webkit-animation-delay:85.6s;}
.sub footer p:nth-child(34) {-webkit-animation-duration:1.2s; -webkit-animation-delay:87.8s;}
.sub footer p:nth-child(35) {-webkit-animation-duration:2.2s; -webkit-animation-delay:90.0s;}
.sub footer p:nth-child(36) {-webkit-animation-duration:1.4s; -webkit-animation-delay:92.4s;}

.sub footer p:nth-child(37) {-webkit-animation-duration:1.4s; -webkit-animation-delay:95.4s;}
.sub footer p:nth-child(38) {-webkit-animation-duration:2.0s; -webkit-animation-delay:98.2s;}
.sub footer p:nth-child(39) {-webkit-animation-duration:1.2s; -webkit-animation-delay:100.4s;}
.sub footer p:nth-child(40) {-webkit-animation-duration:2.2s; -webkit-animation-delay:102.4s;}
.sub footer p:nth-child(41) {-webkit-animation-duration:1.8s; -webkit-animation-delay:105.0s;}
.sub footer p:nth-child(42) {-webkit-animation-duration:1.8s; -webkit-animation-delay:107.6s;}
.sub footer p:nth-child(43) {-webkit-animation-duration:1.6s; -webkit-animation-delay:110.4s;}

.sub footer p:nth-child(44) {-webkit-animation-duration:1.0s; -webkit-animation-delay:114.0s;}
.sub footer p:nth-child(45) {-webkit-animation-duration:1.8s; -webkit-animation-delay:115.4s;}
.sub footer p:nth-child(46) {-webkit-animation-duration:1.6s; -webkit-animation-delay:117.6s;}
.sub footer p:nth-child(47) {-webkit-animation-duration:1.6s; -webkit-animation-delay:119.6s;}
.sub footer p:nth-child(48) {-webkit-animation-duration:2.4s; -webkit-animation-delay:121.6s;}

@-webkit-keyframes sub
{0%{opacity:0;}20%,80%{opacity:1;}100%{opacity:0;}}
@-webkit-keyframes subtitle
{0%{opacity:0;}1%,99%{opacity:1;}100%{opacity:0;}}