@charset "utf-8";

/* Background color */
body.home.bg {-webkit-animation:bgBlue 20s 10s;}

@-webkit-keyframes bgBlue
{0%,100%{background:none; background-color:#268bd2;}}

/* Progress */
.progress {background:rgba(0,43,54,.4); width:100%; height:5px; display:block; position:absolute; bottom:0; left:0; z-index:999 !important; -webkit-animation:progress 128s linear;}

@-webkit-keyframes progress
{0%{width:0; opacity:1;} 99%{opacity:1;} 100%{width:100%; opacity:0;}}

/* Hello */
h2 {width:136px; height:142px; font-size:180px; line-height:120px; position:absolute; top:50%; left:50%; margin:-100px 0 0 -68px; -webkit-animation:hi 2s .75s backwards;}
h2 em {color:#dc322f; display:block; z-index:1; -webkit-transform:rotate(180deg); -webkit-animation:red-super .4s 2s backwards;}
h2 span {width:1px; height:1px; opacity:0; border:1px solid #dc322f; border-radius:1000px; position:absolute; top:50%; left:50%; display:block; -webkit-animation:great 3s 2s cubic-bezier(.07,.66,.44,.97);}
h2:after {content:''; width:0; height:0; display:block; position:absolute; top:0; left:19px; margin-top:26px; border-top:86px solid #fefaee; border-left:50px solid transparent; border-right:50px solid transparent; z-index:-1;}

@-webkit-keyframes hi
{0%{opacity:0; -webkit-transform:translateY(-80px);} 20%{opacity:0;} 60%{opacity:1;} 100%{-webkit-transform:translateY(0);}}

@-webkit-keyframes red-super
{0%{color:#586e75} 100%{color:#dc322f}}

@-webkit-keyframes great
{15%{opacity:1;} 100%{width:2000px; height:2000px; margin:-1000px 0 0 -1000px; border:150px solid #dc322f;}}

/* Sync */
h3 {width:700px; font:700 24px/24px 'Montserrat'; text-align:left; position:absolute; bottom:50%; left:50%; z-index:99; margin:0 0 -140px -350px; text-transform:uppercase;}
h3 em {height:40px; line-height:42px; color:#fdf8e8; display:block; text-align:center; margin:4px auto; opacity:0; -webkit-animation:sync .9s ease-in;}
h3 em:first-child {background:#586e75; width:74px; -webkit-animation-delay:1.1s;}
h3 em:last-child {background:#DC322F; width:220px; -webkit-animation-delay:1.7s;}

@-webkit-keyframes sync
{20%,80%{opacity:1;} 100%{opacity:0;}}

/* Enemys */
.enemys {width:86%; height:86%; z-index:2 !important; position:absolute; top:47%; left:50%; margin:-43% 0 0 -43%; color:#002b36;}
.enemys p {font-size:30px; position:absolute; -webkit-animation:bounceIn .8s backwards;}
.enemys em {-webkit-animation:down 5s 2s linear, vanish 99999s 9s}
.enemys em:before {content:'\2716';}

.enemys p:nth-child(1n+0) em {font-size:45px; -webkit-animation-duration:45s; opacity:.9;}
.enemys p:nth-child(2n+0) em {font-size:35px; -webkit-animation-duration:60s; opacity:.7;}
.enemys p:nth-child(3n+0) em {font-size:30px; -webkit-animation-duration:40s; opacity:.5;}
.enemys p:nth-child(4n+0) em {font-size:25px; -webkit-animation-duration:60s; opacity:.3;}
.enemys p:nth-child(5n+0) em {font-size:20px; -webkit-animation-duration:50s; opacity:.1;}

.enemys p:nth-child(1n+1) {-webkit-animation-delay:4.0s}
.enemys p:nth-child(2n+2) {-webkit-animation-delay:4.1s}
.enemys p:nth-child(3n+3) {-webkit-animation-delay:4.2s}
.enemys p:nth-child(4n+4) {-webkit-animation-delay:4.3s}
.enemys p:nth-child(5n+5) {-webkit-animation-delay:4.4s}
.enemys p:nth-child(6n+1) {-webkit-animation-delay:4.5s}
.enemys p:nth-child(7n+2) {-webkit-animation-delay:4.6s}
.enemys p:nth-child(8n+3) {-webkit-animation-delay:4.7s}
.enemys p:nth-child(9n+4) {-webkit-animation-delay:4.8s}
.enemys p:nth-child(10n+5) {-webkit-animation-delay:4.9s}
.enemys p:nth-child(11n+1) {-webkit-animation-delay:5.0s}
.enemys p:nth-child(12n+2) {-webkit-animation-delay:5.1s}
.enemys p:nth-child(13n+3) {-webkit-animation-delay:5.2s}
.enemys p:nth-child(14n+4) {-webkit-animation-delay:5.3s}
.enemys p:nth-child(15n+5) {-webkit-animation-delay:5.4s}
.enemys p:nth-child(16n+1) {-webkit-animation-delay:5.5s}
.enemys p:nth-child(17n+2) {-webkit-animation-delay:5.6s}
.enemys p:nth-child(18n+3) {-webkit-animation-delay:5.7s}
.enemys p:nth-child(19n+4) {-webkit-animation-delay:5.8s}
.enemys p:nth-child(20n+5) {-webkit-animation-delay:5.9s}

@-webkit-keyframes bounceIn
{0%{opacity:0; -webkit-transform:scale(.3);} 50%{opacity:1; -webkit-transform:scale(1.05);} 70%{-webkit-transform:scale(.9);} 100%{-webkit-transform:scale(1);}}

@-webkit-keyframes down
{0%,10%{-webkit-transform:translateY(0);} 100%{-webkit-transform:translateY(100px);}}

/* Goodness */
.good {background:#268bd2; opacity:1; position:absolute; top:50%; left:50%; border-radius:1000px; -webkit-animation:good 6s 7.8s forwards;}

@-webkit-keyframes good
{0%{width:1px; height:1px; margin:0; opacity:0;} 10%,40%{opacity:1;} 70%,100%{width:3000px; height:3000px; margin:-1500px 0 0 -1500px; opacity:0;}}

/* Plus */
.plus span {font-size:130px; z-index:10; display:block; color:#fdf6e3; position:absolute; top:50%; left:50%; margin:-50px 0 0 -50px; -webkit-animation:bounceIn .8s 10s backwards;}
.plus em, .plus b, .plus i {display:block; position:absolute; top:49%; left:50%; border-radius:500px; -webkit-animation:bounceIn .8s backwards;}
.plus em:nth-child(2) {background:#073642; z-index:9; width:180px; height:180px; margin:-90px 0 0 -90px; -webkit-animation:bounceIn .8s 11.8s backwards, badbehavior 1s 15s forwards}
.plus em:nth-child(3) {background:#dc322f; z-index:8; width:250px; height:250px; margin:-125px 0 0 -125px; -webkit-animation-delay:12.6s;}
.plus em:nth-child(4) {background:#eee8d5; z-index:7; width:300px; height:300px; margin:-150px 0 0 -150px; -webkit-animation-delay:12.8s;}
.plus em:nth-child(5) {background:#dc322f; z-index:6; width:350px; height:350px; margin:-175px 0 0 -175px; -webkit-animation-delay:13s;}
.plus i {background:#268bd2; z-index:9; width:1px; height:1px; -webkit-animation:badbehaviorUP 1s 16s forwards;}
.plus b {background:transparent; z-index:9; width:360px; height:360px; margin:-180px 0 0 -180px; border-style:solid; border-color:#073642; -webkit-animation:badbehaviorLast 1s 16.15s forwards;}

@-webkit-keyframes badbehavior
{to{width:350px; height:350px; margin:-175px 0 0 -175px;}}

@-webkit-keyframes badbehaviorUP
{to{width:360px; height:360px; margin:-180px 0 0 -180px;}}

@-webkit-keyframes badbehaviorLast
{from{width:1px; height:1px; margin:0; border-width:0;}45%{border-width:20px;}to{border-width:0;}}

/* Vanish */
.vanish {display:none !important;}