@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

/* HTML */
html {height:100%;}
body {height:100%; background:#fdf6e3 url(subtle_dots.png) repeat; overflow:hidden; font-family:Arial !important; -webkit-backface-visibility:hidden; -webkit-animation-fill-mode:both;}

/* Audio */
audio {position:absolute; z-index:999999999; }

/* Hi */
h1 {width:136px; height:142px; font-size:180px; z-index:2; position:absolute; top:50%; left:50%; margin:-100px 0 0 -68px; -webkit-animation:hi 2s .75s backwards;}
h1 em {color:#dc322f; display:block; z-index:1; -webkit-transform:rotate(180deg); -webkit-animation:red .4s 2s backwards;}
h1 span {width:1px; height:1px; opacity:0; border:1px solid #dc322f; border-radius:1000px; position:absolute; top:50%; left:50%; display:block; -webkit-animation:great 3s 2s cubic-bezier(.07,.66,.44,.97);}

@-webkit-keyframes hi
{0%{opacity:0; -webkit-transform:translateY(-80px);} 20%{opacity:0;} 60%{opacity:1;} 100%{-webkit-transform:translateY(0);}}

@-webkit-keyframes red
{0%{color:#} 100%{color:#dc322f}}

@-webkit-keyframes blue
{0%{color:#} 100%{color:#268bd2}}

@-webkit-keyframes white
{0%{} 100%{color:#}}

@-webkit-keyframes great
{15%{opacity:1;} 100%{width:2000px; height:2000px; margin:-1000px 0 0 -1000px; border:150px solid #dc322f;}}

/* Enemys */
.enemys {width:86%; height:86%; position:absolute; top:50%; left:50%; margin:-43% 0 0 -43%; -webkit-animation:red 10s 9s cubic-bezier(0,1,0,1) !important;}
.enemys p {font-size:30px; position:absolute; -webkit-animation:enemy .8s backwards;}
.enemys em {display:block; -webkit-animation:down 60s linear;}

.enemys p:nth-child(1n+0) em {font-size:30px; -webkit-animation-duration:40s; opacity:.5;}
.enemys p:nth-child(2n+0) em {font-size:22px; -webkit-animation-duration:50s; opacity:.2;}
.enemys p:nth-child(3n+0) em {font-size:36px; -webkit-animation-duration:70s; opacity:.8;}
.enemys p:nth-child(4n+0) em {font-size:46px; -webkit-animation-duration:30s; opacity:1;}
.enemys p:nth-child(5n+0) em {font-size:26px; -webkit-animation-duration:60s; opacity:.35;}

.enemys p:nth-child(1n+1) {-webkit-animation-delay:4s}
.enemys p:nth-child(2n+2) {-webkit-animation-delay:4.1s}
.enemys p:nth-child(3n+3) {-webkit-animation-delay:4.2s}
.enemys p:nth-child(4n+4) {-webkit-animation-delay:4.3s}
.enemys p:nth-child(5n+5) {-webkit-animation-delay:4.4s}
.enemys p:nth-child(6n+1) {-webkit-animation-delay:4.5s}
.enemys p:nth-child(7n+2) {-webkit-animation-delay:4.6s}
.enemys p:nth-child(8n+3) {-webkit-animation-delay:4.7s}
.enemys p:nth-child(9n+4) {-webkit-animation-delay:4.8s}
.enemys p:nth-child(10n+5) {-webkit-animation-delay:4.9s}
.enemys p:nth-child(11n+1) {-webkit-animation-delay:5s}
.enemys p:nth-child(12n+2) {-webkit-animation-delay:5.1s}
.enemys p:nth-child(13n+3) {-webkit-animation-delay:5.2s}
.enemys p:nth-child(14n+4) {-webkit-animation-delay:5.3s}
.enemys p:nth-child(15n+5) {-webkit-animation-delay:5.4s}
.enemys p:nth-child(16n+1) {-webkit-animation-delay:5.5s}
.enemys p:nth-child(17n+2) {-webkit-animation-delay:5.6s}
.enemys p:nth-child(18n+3) {-webkit-animation-delay:5.7s}
.enemys p:nth-child(19n+4) {-webkit-animation-delay:5.8s}
.enemys p:nth-child(20n+5) {-webkit-animation-delay:5.9s}

@-webkit-keyframes enemy {
	0% {opacity:0; -webkit-transform:scale(.3);}
	50% {opacity:1; -webkit-transform:scale(1.05);}
	70% {-webkit-transform:scale(.9);}
	100% {-webkit-transform:scale(1);}
}
@-webkit-keyframes down {
	0%, 20% {-webkit-transform:translateY(0);}
	100% {-webkit-transform:translateY(100px);}
}

/* Goodness/Right */
.nice {background:#268bd2; width:1px; height:1px; opacity:0; border-radius:1000px; position:absolute; top:50%; left:50%; display:block; -webkit-animation:nice 2.8s 8.1s cubic-bezier(0,.65,.4,1);}
@-webkit-keyframes nice {
	0% {opacity:0;} 5%, 99% {opacity:1;}
	80% {width:2000px; height:2000px; margin:-1000px 0 0 -1000px;}
	100% {opacity:0;}
}